style.
	@media screen and (max-width: 599px){ 	}

.inlineController.content-page(ng-controller="inlineController", layout="column", layout-align="start start").padding10
	
	h1 Main


script.
	libx.browser.angular.lazy.controller('inlineController', async function ($scope, $rootScope, $controller, $mdDialog, $routeParams, $interval) {
		angular.extend(this, $controller('inlineControllerBase', {$scope: $scope}));

	});
